<nav class="container">
  <!-- <div class="container"> -->
    <!-- <img src="ang9-web/src/assets/RLJITLogo.jpeg" /> -->
    <h1>R L Jalappa Institute of Technology</h1>
  <!-- </div> -->
</nav>

<nav class="container navbar navbar-expand-lg navbar-light bg-light mb-3 rounded">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">Attendance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pages/exams">Examination Timetable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pages/my-profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/pages/time-table">Time Table</a>
      </li>
    </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
