<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chart </title>
</head>
<body>
    <div [hidden]="!hasAttendanceChart">
        <h2> Attendance Chart </h2>
        <div class="row">
            <div class="col-sm-6">
                <canvas #classAttendanceCanvas height="200px"></canvas>
            </div>

            <div class="col-sm-6" *ngIf="classPercent">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="label"> <strong>Total Students: </strong></label>
                    </div>
                    <div class="col-sm-6">
                        <div> {{ classPercent.TotalStudents }} </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="label" style="color: blue;"> <strong>Present: </strong></label>
                    </div>
                    <div class="col-sm-6">
                        <div> {{ classPercent.presentCount }} ( {{ classPercent.presentPercent}} %) </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label class="label" style="color: red;"> <strong>Absent: </strong></label>
                    </div>
                    <div class="col-sm-6">
                        <div> {{ classPercent.absentCount }}  ( {{ classPercent.absentPercent}} %) </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>