<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Examinations </title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h2 class="card-header">Exam Details</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="label"> <strong>Subject: </strong></label>
                        </div>
                        <div class="col-sm-9">
                            <div> {{ examDetail.SubjectName }} </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="label"> <strong>Subject Code: </strong></label>
                        </div>
                        <div class="col-sm-3">
                            <div> {{ examDetail.SubjectCode }} </div>
                        </div>
                        <div class="col-sm-2">
                            <label class="label"> <strong>Status: </strong></label>
                        </div>
                        <div class="col-sm-4">
                            <div>{{ examDetail.Status }} </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class="label"> <strong>Date: </strong></label>
                        </div>
                        <div class="col-sm-3">
                            <div> {{ examDetail.Date | date: "MMM d, yyyy" }} </div>
                        </div>
                        <div class="col-sm-2">
                            <label class="label"> <strong>Time: </strong></label>
                        </div>
                        <div class="col-sm-4">
                            <div>{{ examDetail.Time }} </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-link"
                                                    *ngIf="canDisplayAttendance"
                                                    (click)="getStudents()" >
                                    View Attendance
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-link"
                                                    *ngIf="canDisplayMarks"
                                                    routerLinkActive="active" routerLink="/pages/student-marks/{{examDetail.Id}}/view" >
                                    View Marks
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Scheduled'" (click)="updateExamStatus('In Progress', 'ExamStatus')">
                                    Start Exam
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'In Progress' && examDetail.Attendance == '1'" (click)="updateExamStatus('Completed', 'ExamStatus')">
                                    Mark as Complate
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Completed'" (click)="updateExamStatus('Evaluation Inprogress', 'ExamStatus')">
                                    Start Evaluation
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Evaluation Inprogress' && examDetail.MarksStatus == null"
                                                    routerLinkActive="active" routerLink="/pages/student-marks/{{examDetail.Id}}/new">
                                    Enter Marks
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Evaluation Inprogress' && examDetail.MarksStatus == 'Draft'"
                                                    routerLinkActive="active" routerLink="/pages/student-marks/{{examDetail.Id}}/edit">
                                    Edit Marks
                                </button>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Evaluation Inprogress' && examDetail.MarksStatus == 'Draft'"
                                                                (click)="updateExamStatus('Published', 'ExamMarksStatus')">
                                    Publish Marks
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Evaluation Inprogress' && examDetail.MarksStatus == 'Published'"
                                                                (click)="updateExamStatus('Evaluation Completed', 'ExamStatus')">
                                    Complete Evaluation
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mx-auto" style="width: 200px;">
                                <button type="button" class="btn btn-primary" *ngIf="examDetail.Status == 'Evaluation Completed'"
                                                                (click)="updateExamStatus('Closed', 'ExamStatus')">
                                    Close Exam
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div >
                <div *ngIf="loadChartSpin">
                    <app-loader></app-loader>
                </div>
              <app-attendance-chart></app-attendance-chart>
<!--                <app-attendance-chart attendanceId="{{examDetail.Id}}" type="exam"></app-attendance-chart>-->
            </div>
        </div>

        <div class="col-sm-6" >
            <div *ngIf="loadSpinner">
                <app-loader></app-loader>
            </div>

            <div >
                <app-class-attendance-detail [classId]="examDetail.Id" typeOfAttendance="exam"></app-class-attendance-detail>
            </div>
            <!-- <div >(click)="enterMarks(examDetail)"
                <app-student-marks ></app-student-marks>
            </div> -->
        </div>
    </div>
</body>
