.mat-column-examDate {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .hoverBtn {
    border-radius: 25px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .hoverBtn:hover {
    background-color: #3e8e41;
    color: white;
  }

  .examBox {
    border-radius: 5px;
    background: lightgrey;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }

  .examBox:hover {
    background-color: #0b0ff0;
    color: white;
  }