<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Examinations </title>
</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            
            <button backButton type="button" class="btn btn-link">
                <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" >
                    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  </svg>BACK
            </button>
            <h2> InProgress Examinations </h2>
        </div>

        <div class="col-sm-3">
            <mat-form-field>
                <input matInput (keyup)="examFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="example-container mat-elevation-z8">
                <mat-table [dataSource]="examsData" matSort >
                    
                    <ng-container matColumnDef="examDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Date / Time </mat-header-cell>
                        <mat-cell *matCellDef="let row" > 
                            <button type="button" class="btn btn-link"> {{row.ExamDate | date: "MMM d, yy" }} @ {{row.ExamDate | date: "h:mm a"}} </button> 
                        </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="examType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Type of Exam </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.ExamType}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Subject}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="staffName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Staff </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.StaffName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="year">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Year}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="semester">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Semester </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Semester}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="branch">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Branch </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Branch}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="section">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Section </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Section}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.Status}} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="examColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: examColumns;" (click)="onSelect(row)">
                    </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 45, 75]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</body>