img {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  width: 180px;
}

.nameClass {
  color: blue;
  font-size: x-large;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.branch {
  color: lightslategrey;
  font-size: large;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 15px;
}
